* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.app-container {
  display: flex;
  height: 100vh;
  width: 100%;
}
.sidebar-header{
    display: flex;
    margin-top: 3vh;
    padding-left: 5vh;
    gap: 15vh;
    padding-bottom: 20px;
    /* padding-inline-start: 10vh; */
}
#sidebar {
    white-space: nowrap;
  width: 300px;              /* fixed width */
  background-color: #1e1e2f;
  color: white;
  transition: width 0.3s ease;
  overflow: hidden;
}

#sidebar.collapsed {
    width: 10px;
}

#main {
flex: 1;
background-color: #f5f6fa;
padding: 20px;
transition: all 0.3s ease;
}

#chatbotBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 1rem;
    border-radius: 50%;
}